<h1>Editing Translate Key</h1>

<%= render 'form', translate_key: @translate_key %>

<%= link_to 'Show', feedbacker.translate_key_path(@translate_key) %> |
<%= link_to 'Back', feedbacker.translate_keys_path %>
