/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.feedbacker .fbrow {
    color: red;
    background-color: orange !important;
}

.bg-dark.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: red;
}

.nav.bg-dark > .nav-link.active, .nav.bg-dark .nav-link.active {
    color: white;
    background-color: red;
}

.listH, .topicH {
  display: flex;align-items: center;
}
.listH {
  padding: 0.5rem 1rem;margin:0;margin-top: 0.5rem;
}
.nodec {text-decoration: none;}

.comment .body {position:relative;}
.comment .body .date_ago {position:absolute;top:0;right:0;padding:2px;font-size:10px;}
.text-light .nav-link {color: white;}