<h5 class="d-flex align-items-top pageH p-1">
	<%= tag.span post.title, class: "fs-4" %>
	
	<div class="ms-auto">
	
	</div>
</h5>
<div class="px-2">
	<div class="fs-6 text-dark"><%= post.content %></div>
	<div class="text-center text-muted"><%= post.details %></div>
</div>