<div class="btn-group dropup <%= wrap_css unless local_assigns[:wrap_css].nil? %>" style="line-height:16px;">
  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" id="adminPageStats">
    <%= icon(icon:"lightbulb",lbl:browser.mobile? ? nil : "Admin") %>
  </button>
  <div  id="adminTipsScroll" class="dropdown-menu p-0 px-1 bg-dark border-4 border-dark rounded" style="width:350px;height:480px;overflow-y:scroll;overflow-x:hidden;">

    <div id="adminTipsWrap" class="mt-1 p-1 bg-white">
      <%= default_html_loader %>
      <%= render partial: "feedbacker/admin/page_ideas/" if false %>
    </div> <!-- adminTipsWrap -->    
  </div>
</div>