<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".upgradeBtn").on("click",function(e) {
			e.preventDefault();
			e.stopPropagation();

			let upgradeID = $(this).attr('tier-id')
			let upgradeName = $(this).attr('tier-name')
			let msg = `Upgrade to ${upgradeName} must be done by contacting the provider...we are still in beta and have not automated billing and upgrading yet!`
		alert(msg)
	})
})

</script>
<%= render partial: "admin/manage/menu" %>
<% tag.div @db_info[:error], class: "alert alert-danger" if @db_info[:error] %>

<% unless @db_info[:rows][:per_table].nil? %>
	<%= render partial: "admin/parts/db_usage", locals: {info:@db_info,plan:@db_info[:prices][:intro],upgrades:@db_info[:prices][:upgrades],upgrade:@db_info[:prices][:upgrades][1],tables:@db_info[:tables],rows:@db_info[:rows]} %>
<% else %>
<h4>Postgres needed</h4>

<% end %>

