<% hits_and_misses = Feedbacker::Translate.hits_and_misses translate_key %>

<% unless hits_and_misses[:hits] == 0 && hits_and_misses[:misses] == 0 %>
<div class="p-0 fs-8 ms-2">
<%= tag.span raw("<b>#{hits_and_misses[:hits]}</b> hits"), class:"me-2" %>
<%= tag.span raw("<b>#{hits_and_misses[:misses]}</b> misses") %>

<% updated_at = hits_and_misses[:updated_at] %>
<div>
<% if updated_at.blank? %>
	<%= tag.span "NOT used", class: "text-danger" %> 
<% else %>
	<%= tag.span safe_join(["Last used: ",tag.span(date_fmt(updated_at,fmt:"ago"),class:"text-success fw-bold")," ago"]) %>
<% end %>
</div>
</div>
<% end %>