<% hits_and_misses = Feedbacker::Translate.hits_and_misses translate_key %>

<% unless hits_and_misses[:hits] == 0 && hits_and_misses[:misses] == 0 %>
<div class="p-0 fs-8 ms-2">
<%= tag.span "#{hits_and_misses[:hits]} hits", class:"me-2" %>
<%= tag.span "#{hits_and_misses[:misses]} misses" %>

<% updated_at = hits_and_misses[:updated_at] %>
<% if updated_at.blank? %>
	<%= tag.span "NOT used", class: "text-danger" %> 
<% else %>
	<%= tag.span safe_join(["Last used: ",tag.span(date_fmt(updated_at,fmt:"ago"),class:"text-success fw-bold")," ago"]) %>
<% end %>
</div>
<% end %>