<% title = "Translations" if local_assigns[:title].nil? %>
<% show_add = true if local_assigns[:show_add].nil? %>

<h4 class="d-flex justify-content-between align-items-center bg-info text-info-lightest p-1 px-2 mb-0">
<div><%= title %> <%= link_to icon(icon:"plus",icon_css:"me-1",lbl:"Add"), feedbacker.new_translate_key_path, class: "btn btn-sm btn-primary text-light" if show_add %></div>
	<form method="get" action="<%= feedbacker.translates_search_path %>">
	    <input type="text" name="q" value="<%= @q %>" class="form-control form-control-sm bg-info-light border border-info rounded-pill text-dark fw-bold px-3 text-center" id="search-translations" placeholder="Search translations"/>
	</form>
</h4>