<% show_link = true if local_assigns[:show_link].nil? %>
<div class="bg-white border p-2">
<h4><%= show_link ? link_to(user.display_name_public, user) : user.display_name_public %></h4>

<div>
<%= user.comments.count %> comments
</div>



</div>