<% unless local_assigns.nil? %>
<% path_to_resource = nil if local_assigns[:path_to_resource].nil? %>

<% data = nil if local_assigns[:data].nil? %>

<h1>Hello world (updated)</h1>

<% if data.nil? || data.empty? %>
<div>No data</div>
<% else %>
	<div class="feedbacker">
	<% data.each do |row| %>
	<div class="fbrow bg-white border p-2 m-2">
	<%= link_to row, send(path_to_resource.to_s, {id:target.id,test:123}) %>
	</div>
	<% end %>
	</div>
<% end %>
<% end %>
