<% unless @languages.nil? %>
    <span class="text-muted"><%= t('change_language') %></span>
    <% @languages.each do |lang| %>
    <a class="mx-1 <%= I18n.locale.to_s == lang.to_s ? 'border bg-dark text-light' : '' %>" href="?locale=<%= lang %>"><%= lang %></a>
    <% end %>
<% end %>