<% ip_address = nil if local_assigns[:ip_address].nil? %>
<% is_public = @is_public if local_assigns[:is_public].nil? %>
<% user_id = (is_public.blank? ? nil : "") if local_assigns[:user_id].nil? %>
<% Site.last_actions(ip:ip_address,user_id: user_id).each do |row| %>
<div class="d-flex align-items-center border me-1 mb-1">
	<%= tag.span row.row_count, class: "badge badge-sm bg-info mx-1" %>
	<div class="px-1">
		<a href="<%= feedbacker.admin_visits_path(controller_name: row.controller_name,action_name:row.action_name,user_id:visitor.user_id) %>"><%= row.controller_name %>: <%= row.action_name %></a>
	</div>
</div>
<% end %>