<% Site.last_actions(ip:visitor.ip_address,user_id: @is_public.blank? ? nil : "").each do |row| %>
<div class="d-flex align-items-center border me-1 mb-1">
	<%= tag.span row.row_count, class: "badge badge-sm bg-info mx-1" %>
	<div class="px-1">
		<a href="<%= feedbacker.admin_visits_path(controller_name: row.controller_name,action_name:row.action_name,user_id:visitor.user_id) %>"><%= row.controller_name %>: <%= row.action_name %></a>
	</div>
</div>
<% end %>