<style>
.admin_active {background-color: orange !important;}
</style>

<% links = {"Visits": :admin_visits,"Referrers": :admin_visit_referrers, "Locations": :admin_visit_locations} %>
<% link_css = "me-1 btn btn-sm bg-light text-dark" %>
<div class="d-flex align-items-center">
<% links.each do |k,v| %>
<% path_to_page = feedbacker.send("#{v}_path") %>
<%= link_to k, [feedbacker,v], class: 
class_names(link_css, { admin_active: current_page?(path_to_page) }) %> 
<% end %>
</div>