<h1 class="pageH border p-1 px-2">Editing Translate Key</h1>
<div class="alert alert-danger">Warning: Editing the "translate key" is NOT a common task and MAY CAUSE ISSUES with your site. You might instead be looking to edit a translation for a specific language.</div>

<%= render 'form', translate_key: @translate_key %>

<%= link_to 'Show', feedbacker.translate_key_path(@translate_key) %> |
<%= link_to 'Back', feedbacker.translate_keys_path %>
