<div class="bg-white border my-1 p-2">
    <div class="d-flex align-items-center">
    <%= tag.div translate.lang, class:"badge badge-sm bg-success fs-7 me-1" %> <%= link_to translate.phrase, feedbacker.edit_translate_path(translate) %>
    </div>


<%= render partial: "#{engine_prefix}translates/parts/preview", locals: {translate: translate} if translate.use_cms? %>

</div>