<% data = Post.order("created_at DESC").limit(10) if local_assigns[:data].nil? %> 
<% data.each do |post| %>
<a href="<%= post_path(post) %>" class="nodec">
<div class="border p-1 px-2 mx-1 mb-1">
	<h5 class="text-dark"><%= post.title %></h5>
	<div class="text-end fs-8"><%= time_ago_in_words post.created_at %> ago</div>
	<p class="text-muted"><%= post.content %></p>
</div>
</a>
<% end %>